/* table {
    width: 100%;
  } */
  .box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card{
   
    width: 15rem;
    
    
  }
.tab10{
  tab-size: 10cm;
}
.ml50{
  margin-left: 50px;
}
.left{
  text-align: left;
}
