<mat-card>
    <h1>Add New Category</h1>
    <mat-card-content>
       <!-- <form action="">
           <mat-form-field class="w100" appearance="outline">
                <mat-label>Title</mat-label>
                <input type="text" name="title" matInput
                placeholder="Enter here">

            </mat-form-field>
         </form> -->
         <div class="bootstrap-wrapper">
             <div class="row">
                 <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="w100" appearance="outline">
                             <mat-label>Title</mat-label>
                             <input 
                             required
                             autofocus type="text" name="title" matInput
                             placeholder="Enter here"
                             [(ngModel)]="skillcategory.title">
                         </mat-form-field>

                         <mat-form-field class="w100" appearance="outline">
                             <textarea name="description"
                             matInput
                             placeholder="Enter Category Description"
                             [(ngModel)]="skillcategory.description"
                             rows="15"
                              ></textarea>
                         </mat-form-field>
                         <div class="container text-centre mt15">
                             <button mat-raised-button color="primary">Add</button>
                         </div>
                      </form>

                 </div>
             </div>
         </div>
    </mat-card-content>
</mat-card>

