<mat-card>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-9 ">
           <form (ngSubmit)="search()">
            <mat-form-field class="mt20 w100" appearance="fill">
                <mat-label>Skill</mat-label>
                <mat-select name="skill" [(ngModel)]="skill">
                  <mat-option *ngFor="let c of subcategory" [value]="c.title">
                    {{c.title}}
                  </mat-option>
                </mat-select>
               
             </mat-form-field>
            
            <div class="container text-centre mt15">
                <button mat-raised-button color="primary">Search</button>
            </div>
         </form>
   <!-- <mat-card class="mt10" *ngFor="let s of skillPersons">
            <mat-card-header>
                
                <mat-card-title>
                    {{s.userName}}
                </mat-card-title>
                
            </mat-card-header>
            <mat-card-content>
                <p>{{s.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                
                <button 
                (click)="hire(s)"
                mat-flat-button color="warn" class ="ml10" >Hire</button>
        
            </mat-card-actions>
        </mat-card>-->
       <mat-card class="w100" *ngFor="let s of skillPersons">
            <mat-card-title-group>
              <mat-card-title>{{s.userName}}</mat-card-title>
             
              <img mat-card-sm-image src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg" >
            </mat-card-title-group>
            <mat-card-content class="left"s>
              {{s.description}}
            </mat-card-content>
            <mat-card-actions>
                
                <button class="left"
                (click)="hire(s)"
                mat-flat-button color="warn" class ="ml10" >Hire</button>
        
            </mat-card-actions>
          </mat-card> 
        
             

        </div>
    </div>
</div>
</mat-card>
